{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title|truncatewords:10 }} - {{ block.super }}
{% endblock %}

{% block h1 %}
    {{ title|truncatewords:10 }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "plugins/bootstrap_multiselect/css.css" %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "plugins/bootstrap_multiselect/js.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_tags').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                numberDisplayed: 3,
                nSelectedText: ' - максимум 3 тега!',
                disableIfEmpty: true,
                disabledText: 'Тегов нет',
                nonSelectedText: 'Выберите 3 тега',
                filterPlaceholder: 'Найти тег...',
                allSelectedText: 'Выбраны все теги'
            });

            $('#new_tag_add').on('click', function () {
                let new_tag = $("#new_tag_val").val();

                $.ajax({
                    url: "{% url "question:tag:add" %}?tag=" + new_tag,
                    dataType: 'text',
                    success: function (data) {
                        let tags_select = $("#id_tags");

                        tags_select.append(
                            "<option value='"+data+"'>"+data+"</option>"
                        );
                        tags_select.multiselect('rebuild');

                        $('option[value="'+data+'"]', tags_select).prop(
                            'selected', true
                        );
                        tags_select.multiselect('refresh');
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}