{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load rupluralize %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block title %}
    {{ title|truncatewords:10 }} - {{ block.super }}
{% endblock %}

{% block h1 %}
    {% url "question_hot" as hot_url %}
    {% url "home_page" as home_url %}

    {% if request.path == home_url %}
        Новые вопросы | <a href="{{ hot_url }}">Лучшие вопросы</a>
    {% elif request.path == hot_url %}
        <a href="{{ home_url }}">Новые вопросы</a> | Лучшие вопросы
    {% else %}
        {{ title|truncatewords:10 }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="questions_list">
    {% for question in object_list %}
        <div class="question_summary">
            <div class="q_left q_sum_part">
                <div class="q_stat">
                    <span>{{ question.votes }}</span><br> {{ question.votes|pluralize:"голос,голоса,голосов" }}
                </div>
                <div class="q_stat">
                    <span>{{ question.answers.count }}</span><br> {{ question.votes|pluralize:"ответ,ответа,ответов" }}
                </div>
            </div>
            <div class="q_center q_sum_part">
                <div class="q_title">
                    <a href="{{ question.url }}">{{ question.title|truncatewords:15 }}</a>
                </div>
                <div class="q_tags">
                    {% for tag in question.tags.all %}
                        <a href="{{ tag.url }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="q_right q_sum_part">
                <div class="q_author">
                    Спросил <a href="{{ question.author.url }}">{{ question.author.username }}</a>
                </div>
                <div class="q_time">{{ question.published|timesince }} назад</div>
            </div>
        </div>
    {% endfor %}

    {% include "base/parts/paginator.html" with page_obj=page_obj %}
    </div>
{% endblock %}