/*
    HEADER
*/
header {
    line-height: 5rem;
    border-bottom: 2px solid #e5e5e5;
}

.blog-header-logo { font-size: 3rem; }

header .btn_auth { margin-left: 5px; }

.userblock span {
    font-size: 0.875rem;
    padding-right: 5px;
}

.search {
    /* устанавливаем необходимую ширину формы в зависимости от дизайна
    ** форма без проблем растягивается */
    width: 40%;

    /* кнопку отправки будем позиционировать абсолютно,
    ** поэтому необходимо это свойство */
    position: relative;
    margin-right: 15px;
}

.search input {
    /* отключаем бордюры у инпутов */
    border: none;
}

/* стили для поля ввода */
.search .input {
    /* растягиваем поле ввода на всю ширину формы */
    width: 100%;

    /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
    ** регулируем высоту формы
    ** внутренний отступ справа (37px) делаем больше левого,
    ** т.к. там будет размещена кнопка отправки	*/
    padding: 8px 37px 9px 15px;

    /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* добавляем внутренние тени */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);

    /* закругляем углы */
    border-radius: 20px;

    background: #FFF;
    font: 13px Tahoma, Arial, sans-serif;
    color: #6c757d;
    outline: none;
}

/* меняем оформление поля ввода при фокусе */
.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #f7f8f9;
}

/* оформляем кнопку отправки */
.search .submit {
    /* позиционируем кнопку абсолютно от правого края формы */
    position: absolute;
    top: 0;
    right: 0;

    width: 37px;

    /* растягиваем кнопку на всю высоту формы */
    height: 100%;

    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;

    /* добавляем прозрачность кнопке отправки */
    opacity: 0.5;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {
    opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
    -webkit-appearance: none;
}


/*
    MAIN
*/
h1 { padding-top: 1rem; }


/*
    Auth
*/
.form-group label { font-weight: 700; }
.form-group .help-block, .form-group .controls > ul li { font-size: x-small; }
.form-group span.help-block strong { color:red; }


/*
    Pagination
 */
ul.pagination { position: relative; margin: 40px 0; }
ul.pagination-centered { left: 45%; }


/*
    Questions list
*/

/* Summary */
.questions_list { margin-top: 30px; }
.questions_list .question_summary {
    display: table;
    width: 100%;
    height: 140px;
    padding: 10px 0;
}
.questions_list .question_summary:not(:last-child) {
    border-bottom: 1px solid #787878;
}

.questions_list .question_summary .q_sum_part {
    display: table-cell;
    vertical-align: middle;
}

/* Left */
.question_summary .q_left { width: 25%; padding-right: 25px; }
.question_summary .q_left .q_stat {
    float: left;
    width: 50%;
    font-size: small;
    text-align: center;
}
.question_summary .q_left .q_stat span { font-size: large; }

/* Center */
.question_summary .q_center {
    width: 60%;
    padding-right: 15px;
}

/* Tags */
.q_tags { margin-top: 10px; }
.q_tags a {
    font-size: small;
    background: #4b9cf3;
    color: white;
    margin-right: 3px;
    padding: 3px 4px;
}

/* Right */
.question_summary .q_right { font-size: small; }


/*
    SIDEBAR
*/
.sidebar_questions h4 { margin-bottom: 10px; }
.sidebar_questions ol li {
    font-size: small;
    margin-bottom: 10px;
}
.sidebar_questions ol li span {
    background: #4b9cf3;
    color: white;
    margin-right: 10px;
    padding: 3px 4px;

    float: left;
    width: 40px;
    text-align: center;
}


/*
    QUESTION DETAIL
*/

/* QA Detail*/
.qa_detail {
    display: table;
    width: 100%;
    min-height: 150px;
    padding: 20px 0;
}

.qa_detail .qa_part {
    display: table-cell;
    vertical-align: middle;
}

/* QA Rate */
.qa_rate {
    width: 10%;
    text-align: center;
    font-size: x-large;
}

.qa_rate .arr, .qa_rate span { display: block; }
.qa_rate .arr { color: #4b9cf3; }
.qa_rate .arr:hover { color: #2b5f96; text-decoration: none; }
.qa_rate .arr_up:before { content: "\25B2"; }
.qa_rate .arr_down:before { content: "\25BC"; }


/* QA Sum */
.qa_detail .qa_sum { padding: 20px; }
.qa_author_tags { margin-top: 20px; }
.qa_author_tags .q_tags { float: left; margin-top: 0; }
.qa_author_tags .qa_author { float: right; font-size: small; }
.qa_author_tags .qa_author span.qa_dt { margin-right: 15px; }

/* Answers */
.qa_answers .qa_detail:not(:last-child) { border-bottom: 1px solid #787878; }


form#add_answer { margin-top: 40px; }