{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load rupluralize %}

{% block title %}
    Пользователь {{ user.username }} - {{ block.super }}
{% endblock %}

{% block h1 %}
    {{ user.username }}
{% endblock %}

{% block content %}
    <p>
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" height=256 />
        {% else %}
            <img src="{% static "img/default_avatar.png" %}" height=256 />
        {% endif %}
    </p>
    <p><strong>Username</strong>: {{ user.username }}</p>
    <p><strong>Email</strong>: {{ user.email }}</p>
    <p><strong>Дата регистрации</strong>: {{ user.registered }}</p>

    <h2>Лучшие вопросы</h2>
    <ul class="qa_list questions">
    {% for question in user.question_set.all|slice:":10" %}
        <li>
            <span class="date">{{ question.published|date:"d.m.Y" }}</span>
            <a href="{% url "question:detail" id=question.pk %}">
                {{ question.title|truncatewords:10 }}
            </a>
            (
                {{ question.votes }} {{ question.votes|pluralize:"голос,голоса,голосов" }},
                {{ question.answers.count }} {{ question.answers.count|pluralize:"ответ,ответа,ответов" }}
            )
        </li>
    {% endfor %}
    </ul>

    <h2>Лучшие ответы</h2>
    <ul class="qa_list answers">
    {% for answer in user.answer_set.all|slice:":10" %}
        <li>
            <span class="date">{{ answer.published|date:"d.m.Y" }}</span>
            <a href="{% url "question:detail" id=answer.question.pk %}#answer_{{ answer.id }}">
                {{ answer.text|truncatewords:10 }}
            </a>
            (
                {{ answer.votes }} {{ answer.votes|pluralize:"голос,голоса,голосов" }},
                вопрос - {{ answer.question.title|truncatewords:10 }}
            )
        </li>
    {% endfor %}
    </ul>
{% endblock %}